<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>735014215463-ka9tf99qisgehn301e0ddfui4qqc8gdc.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.735014215463-ka9tf99qisgehn301e0ddfui4qqc8gdc</string>
    <key>API_KEY</key>
    <string>AIzaSyDtYrBGaHKiX31m4O0rbArB4LXciyJAwcY</string>
    <key>GCM_SENDER_ID</key>
    <string>735014215463</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.bitcoinpricealert</string>
    <key>PROJECT_ID</key>
    <string>bitpump-a8218</string>
    <key>STORAGE_BUCKET</key>
    <string>bitpump-a8218.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:735014215463:ios:e4a9e3ed76b9b637475302</string>
</dict>
</plist>
